/* Baza e stilizimit */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Stili për trupin */
body {
    background-image: url(img/bg/frg1.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    mask-repeat: no-repeat;
}

/* Konteineri kryesor */
.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    text-align: center;
}

/* Titulli i faqes */
h2 {
    color: #3a6f57; /* Gjelbër e errët */
    font-size: 32px;
    margin-bottom: 20px;
}

/* Përshkrimi */
p {
    color: #666666;
    font-size: 16px;
    margin-bottom: 30px;
}

/* Grupi i inputeve */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    color: #3a6f57; /* Gjelbër e errët */
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 2px solid #47c5bd; /* Gjelbër i hapur */
    border-radius: 8px;
    font-size: 16px;
    color: #333;
}

.input-group input:focus {
    outline: none;
    border-color: #58a6a6; /* Kalter kur fokusohet */
    box-shadow: 0 0 10px rgba(0, 183, 255, 0.5);
}

/* Butoni */
button {
    width: 100%;
    padding: 12px;
    background-color: #47c5bd; /* Gjelbër i hapur */
    color: #ffffff;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #58a6a6; /* Kalter kur kalohet me miu */
}

/* Linku për regjistrim */
p a {
    color: #47c5bd;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

/* Përshtatje për ekranet më të vogla */
@media (max-width: 480px) {
    .container {
        padding: 20px;
        width: 90%;
    }
}
